<div class="shopping-my-cart">

  <div class="shopping-my-cart__title-container">
    <p class="shopping-my-cart__title">Mi Carrito de Compras</p>
  </div>

  <div class="shopping-my-cart__grid">
    <div class="shopping-my-cart__menu">
      <h3 class="shopping-my-cart__title-menu">Menu</h3>
      <ul class="shopping-my-cart__contenido-menu">
        <li class="shopping-my-cart__item-menu">Lista de Deseos</li>
        <li class="shopping-my-cart__item-menu">Favoritos</li>
        <li class="shopping-my-cart__item-menu">Compras para Despues</li>
      </ul>
    </div>

    <div class="shopping-my-cart__pay-contenido">

      <div class="shoppings">

        <div class="shoppings-body">
            <div class="shopping-cart">
              <img class="shopping-cart__imagen"
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="bike">
              <p class="shopping-cart__title">Bike</p>
              <p class="shopping-cart__price">$30,00</p>
            </div>
        </div>
      </div>
    </div>

    <div class="shopping-my-cart__pay">
      <div class="order">
        <span class="order__title">Total</span>
        <p class="order__price">$ 560.00</p>
      </div>

      <div class="buttons-pay">
        <button class="button button--primary">
          Limpiar Carrito
        </button>
        <button class="button">
          Continuar Compra
        </button>
      </div>

    </div>
  </div>

</div>
